* {
  position: sticky;
  bottom: 10px;
  z-index: 999;
}

.quickHelpToggler {
  position: absolute;
  right: 30px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border: 2px solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quickHelp {
  padding-inline: 10px;
  position: absolute;
  right: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.qhBtn {
  color: green;
  background-color: white;
  border: none;
  box-shadow: 2px 4px 50px 1px black;
  border-radius: 10px;
  height: 70px;
  transition: all 0.2s ease;
}

.qhBtn:hover {
  transform: scale(1.05, 1.05);
}
