<div class="services mb-5">
    <div class="title text-uppercase mb-5">
      <h1>Our <span style="color: #0097a7">Services</span></h1>
    </div>
    <div class="description">
      <div class="row">
        <div class="col">
          <div class="row mt-5">
            <div class="col-6 mb-4">
              <div class="row">
                <div class="col-2 icon"><i class="fa fa-h-square"></i></div>
                <div class="col">
                  <p class="fw-bold fs-5">PHYSIOTHERAPY</p>
                  <p>
                    Physical therapy also known as physiotherapy is provided by
                    physical therapists who promote, maintain, or restore health
                    through physical examination, diagnosis, management, etc
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2 icon">
                  <i class="fa-solid fa-heart-pulse"></i>
                </div>
                <div class="col">
                  <p class="fw-bold fs-5">ECG</p>
                  <p>
                    Ambulatory ECG. In this test you wear a small monitor which
                    constantly records your heart rhythm. This test records the
                    electrical activity of your heart
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2 icon">
                  <i class="fa-solid fa-head-side-virus"></i>
                </div>
                <div class="col">
                  <p class="fw-bold fs-5">AUDIOLOGY</p>
                  <p>
                    Audiologists use a variety of tests and procedures to assess
                    hearing and balance function and to fit and dispense hearing
                    aids and other assistive devices for hearing
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-2 icon"><i class="fa-solid fa-lungs"></i></div>
                <div class="col">
                  <p class="fw-bold fs-5">ENDOSCOPY</p>
                  <p>
                    An endoscopy is a procedure in which your doctor uses
                    specialized instruments to view and operate on the internal
                    organs and vessels of your body
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5 image">
          <img
            src="https://media.istockphoto.com/id/1392605355/photo/senior-woman-in-hospital-bed.jpg?b=1&s=612x612&w=0&k=20&c=CJgSOBj4RINSp1QrJ6xWFK3Kk42YHV2E9CDMgJQhzzc="
            alt="service image"
          />
          <!-- <button class="btn btn-success" routerLink="our-services">
            Explore our Services >
          </button> -->
        </div>
      </div>
    </div>
  </div>