<div class="container">
  <div class="title">
    <h1>Our <span style="color: #0097a7">Doctors</span></h1>
</div>
<button class="btn btn-info" routerLink="/admin/dashboard">Go Back</button>
  <div class="d-flex flex-wrap">
    <div
      *ngFor="let doctor of allDoctors"
      class="card m-3"
      style="width: 18rem"
    >
      <img [src]="doctor.image" class="card-img-top" alt="..." />
      <div class="card-body text-center">
        <h4 class="card-text text-uppercase text-success">Dr. {{ doctor.name }}</h4>
        <p class="card-text">Age : {{ doctor.age }}</p>
        <p class="card-text">Department : {{ doctor.department }}</p>
        <button (click)="delete(doctor.id)" class="btn btn-danger">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
</div>
